## 4. Machine Learning Development

Importamos los .csv extraídos de los procesos anteriores para poner a trabajar al modelo.

In [2]:
import pandas as pd

In [3]:

y_train = pd.read_csv('/workspaces/EDA_3/data/processed/medical_insurance_y_train.csv')
y_test = pd.read_csv('/workspaces/EDA_3/data/processed/medical_insurance_y_test.csv')

X_train_norm = pd.read_csv('/workspaces/EDA_3/data/interim/medical_insurance_X_train_std.csv')
X_test_norm = pd.read_csv('/workspaces/EDA_3/data/interim/medical_insurance_X_test_std.csv')

In [4]:
from sklearn.feature_selection import f_regression, SelectKBest

In [5]:
pred_nums = []
for i in range(len(X_train_norm.columns)):
    pred_nums.append(i)

In [6]:
# X_train_sel = []
# X_test_sel = []
# for number in pred_nums:
#     selection_model = SelectKBest(f_regression, k = number)
#     selection_model.fit(X_train_norm, y_train)
#     ix = selection_model.get_support()
#     X_train_sel.append(pd.DataFrame(selection_model.transform(X_train_norm), columns = X_train_norm.columns.values[ix]))
#     X_test_sel.append(pd.DataFrame(selection_model.transform(X_test_norm), columns = X_test_norm.columns.values[ix]))
    # X_train_sel["charges"] = y_train
    # X_test_sel["charges"] = y_test    
    # train_data = X_train_sel
    # test_data = X_test_sel
    # X_train = train_data.drop(["charges"], axis = 1)
    # y_train = train_data["charges"] 
    # X_test = test_data.drop(["charges"], axis = 1)
    # y_test = test_data["charges"]
    
    # from sklearn.linear_model import LinearRegression

    # model = LinearRegression()
    # model.fit(X_train, y_train)
    # y_pred = model.predict(X_test)
    # from sklearn.metrics import mean_squared_error, r2_score

    # print(f"Error cuadrático medio: {mean_squared_error(y_test, y_pred)}")
    # print(f"Coeficiente de determinación: {r2_score(y_test, y_pred)}")

In [7]:
selection_model = SelectKBest(f_regression, k = 5)
selection_model.fit(X_train_norm, y_train)
ix = selection_model.get_support()
X_train_sel = pd.DataFrame(selection_model.transform(X_train_norm), columns = X_train_norm.columns.values[ix])
X_test_sel = pd.DataFrame(selection_model.transform(X_test_norm), columns = X_test_norm.columns.values[ix])

/home/vscode/.local/lib/python3.11/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
X_train_sel

             0         1         2         3         4
0     0.976695 -1.000936  0.881367  0.749696  0.494439
1    -1.516009 -1.000936 -0.543716  1.582777 -2.022493
2     1.546456  0.999065  0.874754 -0.916468 -2.022493
3    -0.376487 -1.000936 -1.912589  1.582777  0.494439
4     0.691814 -1.000936 -0.106437 -0.916468  0.494439
...        ...       ...       ...       ...       ...
1064 -0.732588 -1.000936  1.365763  1.582777  0.494439
1065  1.688896  0.999065  1.024372 -0.916468  0.494439
1066 -1.017468  0.999065 -0.798313 -0.916468  0.494439
1067  0.691814  0.999065 -1.331479 -0.916468  0.494439
1068  1.760116  0.999065  1.420320 -0.083386  0.494439

[1069 rows x 5 columns]

In [9]:
# for train_data, y_train in zip(X_train_sel[1:], y_train):
#     if not isinstance(train_data, pd.DataFrame) or train_data.empty:
#         continue  # Skip this iteration if the element is not a non-empty DataFrame
    
#     X_train = train_data.drop(["charges"], axis=1)
#     y_train = train_data["charges"]

#     from sklearn.linear_model import LinearRegression
#     model = LinearRegression()
#     model.fit(X_train, y_train)
    
#     # Assuming X_test_sel is similar to X_train_sel
#     for test_data, y_test in zip(X_test_sel[1:], y_test):
#         if not isinstance(test_data, pd.DataFrame) or test_data.empty:
#             continue  # Skip this iteration if the element is not a non-empty DataFrame

#         X_test = test_data.drop(["charges"], axis=1)
#         y_test = test_data["charges"]

#         y_pred = model.predict(X_test)

#         from sklearn.metrics import mean_squared_error, r2_score
#         print(f"Error cuadrático medio: {mean_squared_error(y_test, y_pred)}")
#         print(f"Coeficiente de determinación: {r2_score(y_test, y_pred)}")

In [10]:
X_train_sel["charges"] = y_train
X_test_sel["charges"] = y_test

Exportamos la selección de las 5 mejores variables con las que trabajaremos el modelo

In [11]:
X_train_sel.to_csv("/workspaces/EDA_3/data/interim/medical_insurance_X_train_sel.csv", index=False)
X_test_sel.to_csv("/workspaces/EDA_3/data/interim/medical_insurance_X_test_sel.csv", index=False)

In [12]:
train_data = X_train_sel
test_data = X_test_sel
train_data.head()

          0         1         2         3         4      charges
0  0.976695 -1.000936  0.881367  0.749696  0.494439  11163.56800
1 -1.516009 -1.000936 -0.543716  1.582777 -2.022493  18223.45120
2  1.546456  0.999065  0.874754 -0.916468 -2.022493  46599.10840
3 -0.376487 -1.000936 -1.912589  1.582777  0.494439   6753.03800
4  0.691814 -1.000936 -0.106437 -0.916468  0.494439   8988.15875

In [13]:
X_train = train_data.drop(["charges"], axis = 1)
y_train = train_data["charges"]
X_train.head()

          0         1         2         3         4
0  0.976695 -1.000936  0.881367  0.749696  0.494439
1 -1.516009 -1.000936 -0.543716  1.582777 -2.022493
2  1.546456  0.999065  0.874754 -0.916468 -2.022493
3 -0.376487 -1.000936 -1.912589  1.582777  0.494439
4  0.691814 -1.000936 -0.106437 -0.916468  0.494439

In [14]:
X_test = test_data.drop(["charges"], axis = 1)
y_test = test_data["charges"]
X_test.head()

          0         1         2         3         4
0 -0.518927  0.999065  2.638749  0.749696  0.494439
1 -1.159908 -1.000936 -0.424683 -0.916468  0.494439
2  0.122054  0.999065  0.601972 -0.083386  0.494439
3  0.763034  0.999065  0.600318  0.749696 -2.022493
4  1.546456  0.999065  0.914432  1.582777  0.494439

In [15]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [16]:
print(f"Intercept (a): {model.intercept_}")
print(f"Coefficients (b): {model.coef_}")

Intercept (a): 13056.014647071092
Coefficients (b): [ 3541.14386216    59.09064291  1953.36365645   388.10075381
 -9402.14338583]

In [17]:
y_pred = model.predict(X_test)
y_pred

array([12074.05793548,  3055.43368303, 10041.97637018, 36296.42744771,
       16342.97649272, 29239.3209985 ,  2111.52815234, 14840.14411257,
        6534.73148334, 30448.17132866, 10030.510156  ,  6261.56333801,
       11395.71188275,  6759.87638705, 18042.23972806, 11127.58962741,
       15277.52736546,  5822.07151867,  3459.16398079, 30516.5969392 ,
         148.07925351,  4561.06841619, 13559.94178379,  3290.25583334,
       16109.31089706, 14563.81360667,  1307.10752905, 38772.5413421 ,
        5589.11413632, 10619.15532514,  3751.98165014,  6954.91935946,
        6951.40879315, 12456.42169182, 11082.88303507, 28861.52104589,
       26412.96140073,  8831.05421612, 13014.19296484,  8721.24263835,
       39358.16843331,  7681.18368985, 11780.72968483,  5901.63121114,
       26948.65064973, 12998.86235603,  7234.0382131 , 32561.15852559,
        4385.80725038, 34952.30878635, 34206.54690536, 11672.41755454,
       10878.06377051,  6799.11075419,  7582.49794652, 37794.28906972,
        9225.07052473, 40718.53859531, 17559.18931347,  4398.47360956,
       11985.38028273,  3451.35314889,  3985.6768309 , 36675.87784304,
        5713.45586302,  8851.89770587,  2394.40766188, 29754.46972641,
        4256.81509594,  7919.84529406, 12027.21556951,  -483.25998945,
        7373.96779567,  5654.07277088,  9175.33876026,  9302.77791961,
       11096.04632876, 33930.37522069, 10779.91030454,  2852.35570805,
       33491.48102815, 27934.84861272, 13904.17907142, 38572.39342136,
        3334.9318624 ,  -321.79215237, 36700.14105225,  8535.62877935,
       10413.05407116,  4302.58697457, 11590.33249579, 12154.40268286,
       29882.41230959,  6422.22649235,  7298.63879649, 30961.00499088,
        2939.85815653,  5574.78908692,  1390.15089071,  -192.61788271,
        3621.27834791, 10027.98540944, 13235.37798271,  6848.72208673,
        5809.2407157 , 11224.92649698,  7953.25238247, 31420.0307937 ,
       14620.94991717,  1605.08002817,  9215.96827948, 24161.40596537,
       11106.41669338, 11217.57843317, 14154.13095387, 15791.91500098,
        9676.7607341 , 27095.27558681, 39255.13981224,  5223.9592053 ,
       13146.82076191, 15255.87192367, 37641.43056803, 11157.54221021,
        4326.5685527 , 28537.13611537,  4481.90191951, 12601.80247206,
       11682.31365891,  9444.24802691,  5527.19449578,  9755.80679883,
       10370.78657958, 10169.3423541 , 39215.80897567, 26092.81040816,
       12926.43847037,  6903.05506602,  6582.57983023, 13296.97338003,
       16870.28253341,  8506.61280339, 14487.24142885, 24807.27731366,
        4801.60823692,  8360.66495964, 25693.80793643, 39940.48974768,
        3188.23277169, 36252.56337069,  4769.60052345, 12190.04701716,
        6087.335917  , 35809.14840806,  9946.46025672, 13964.60348733,
        6119.6600477 ,  1092.35530574, 30338.11161771, 10834.10115583,
       11856.30975179, 10609.60535829, 29823.79617942,  6660.72365276,
       35359.53002259, 35442.30660144, 11244.87697024,  1384.30227439,
       31818.35097103, 11136.19334023, 37216.18500008,  8088.22801194,
       14220.272062  ,  4138.26030228, 13511.29437673, 10891.31064176,
        9987.68740274, 32320.94912734, 27891.81318096,  2215.27647888,
        9419.94220556,  9054.60938219,  7520.23370338, 12697.18470502,
       10834.33975326,  3303.79484963, 28910.26069952,   657.01471316,
       36724.05043315, 25808.06710887, 12533.85209998, 11702.67670914,
       29392.85396859,  4260.45238529, 11180.39877519, 12316.86458719,
       25855.51339273, 28025.33032835,  4856.35434989,  7727.32706821,
       10547.68247309, 33196.05656957,  1151.80008116,  7367.13660425,
       33266.98002954,  5966.63808041,   857.79571538,  1250.28396962,
        7133.49594931,  2855.52435972, 10688.59071795,  4896.25267148,
        5806.85809714,  8909.17938903,  1273.58423156,  2984.07606186,
        5100.91940591, 37226.97607734,  6010.23341822, 17730.44798129,
       11054.31900357,  4799.28632344, 11478.16421838,  2095.32164176,
       17611.58337117, 32700.05100725,  4343.20402342,  9505.519181  ,
        8759.7323593 ,  6907.69724626, 33023.79136414, 12786.05272048,
        5893.75142666,  9193.16092741, 34414.46793725, 16804.55498046,
        5154.46635209, 11044.30864653, 11631.5586636 ,  4680.31179534,
       13216.49052928,  5885.53266214, 26702.78733257,  7261.69577954,
        5706.68635488,  6538.00809659, 18040.89378891,  7808.40192319,
       10748.19529279, 12506.34186261, 11354.08309522, 32275.85336384,
       28008.44054518,  9645.32735343,  9717.85920067,  7000.34303235,
       32687.87755796, 39203.72019396, 23676.69165948, 14095.80794694,
        1948.69670468, 15229.99347939,  7150.97675851,  2804.78703584,
       23961.18584739, 32990.91826285,  9711.39430792, 15242.28931704])

In [19]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"Error cuadrático medio: {math.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"Coeficiente de determinación: {r2_score(y_test, y_pred)}")

Error cuadrático medio: 6282.739994993724
Coeficiente de determinación: 0.7673264668767327

## *Conclusión:*

Obtenemos un R2 del 0.77 lo cual no resulta del todo óptimo. 

Revisando outliers y variables tampoco encontramos nada que podamos variar en pro de nuestro modelo por lo tanto nos quedamos con este resultado. 

Concluimos que no podemos mejorar mucho más un modelo con estos datos proporcionados, loc cuál puede ser debido a pocas correlaciones fuertes con el target y a su vez con el escaso número de columnas.